<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/" class="navbar-brand">Otthonbazár</a>

    <button type="button" class="navbar-toggler" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed">
      <ul class="navbar-nav mr-auto">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item active"
        >
          <a routerLink="/" class="nav-link">Hirdetések</a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a routerLink="create" class="nav-link">Hirdetés feladása</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <hr />
  <footer>&copy; 2022 - Otthonbazár</footer>
</div>
