<h2>{{ title }}</h2>

<hr />

<form (ngSubmit)="handleSubmit()" novalidate>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-row col-lg-10">
        <label for="zip" class="font-weight-bold col-12">Város</label>

        <div class="form-group col-lg-4">
          <input
            type="text"
            id="zip"
            [formControl]="form.controls.cityZip"
            class="form-control"
            [class.alert]="
              form.controls.cityZip.invalid && form.controls.cityZip.touched
            "
            [class.alert-danger]="
              form.controls.cityZip.invalid && form.controls.cityZip.touched
            "
            (blur)="setCityNameByZip()"
          />
        </div>

        <div class="form-group col-lg-8">
          <input
            type="text"
            id="cityName"
            [formControl]="form.controls.cityName"
            [ngbTypeahead]="citySearch"
            class="form-control"
            [class.alert]="
              form.controls.cityName.invalid && form.controls.cityName.touched
            "
            [class.alert-danger]="
              form.controls.cityName.invalid && form.controls.cityName.touched
            "
            (blur)="setCityZipByName()"
          />
        </div>
      </div>

      <div class="form-group col-lg-10">
        <label for="address" class="font-weight-bold">Cím</label>
        <input
          type="text"
          id="address"
          [formControl]="form.controls.address"
          class="form-control"
          [class.alert]="
            form.controls.address.invalid && form.controls.address.touched
          "
          [class.alert-danger]="
            form.controls.address.invalid && form.controls.address.touched
          "
        />
      </div>

      <div class="form-group col-lg-7">
        <label for="type" class="font-weight-bold">Típus</label>
        <select
          id="type"
          [formControl]="form.controls.advertisementType"
          class="form-control"
          [class.alert]="
            form.controls.advertisementType.invalid &&
            form.controls.advertisementType.touched
          "
          [class.alert-danger]="
            form.controls.advertisementType.invalid &&
            form.controls.advertisementType.touched
          "
        >
          <option value="0">Lakás</option>
          <option value="1">Ház</option>
          <option value="2">Nyaraló</option>
          <option value="3">Építési telek</option>
        </select>
      </div>

      <div class="form-group col-lg-7">
        <label for="size" class="font-weight-bold">Alapterület</label>

        <div class="input-group">
          <input
            type="number"
            id="size"
            [formControl]="form.controls.size"
            class="form-control"
            [class.alert]="
              form.controls.size.invalid && form.controls.size.touched
            "
            [class.alert-danger]="
              form.controls.size.invalid && form.controls.size.touched
            "
          />
          <div class="input-group-append">
            <div class="input-group-text">m <sup>2</sup></div>
          </div>
        </div>
      </div>

      <div class="form-row col-lg-10">
        <div class="form-group col-lg-6">
          <label for="rooms" class="font-weight-bold">Szobák</label>

          <div class="input-group">
            <input
              type="number"
              id="rooms"
              [formControl]="form.controls.room"
              class="form-control"
              [class.alert]="
                form.controls.room.invalid && form.controls.room.touched
              "
              [class.alert-danger]="
                form.controls.room.invalid && form.controls.room.touched
              "
            />
            <div class="input-group-append">
              <div class="input-group-text">szoba</div>
            </div>
          </div>
        </div>

        <div class="form-group col-lg-6">
          <label for="halfRooms" class="font-weight-bold">Fél szobák</label>

          <div class="input-group">
            <input
              type="number"
              id="halfRooms"
              [formControl]="form.controls.halfRoom"
              class="form-control"
              [class.alert]="
                form.controls.halfRoom.invalid && form.controls.halfRoom.touched
              "
              [class.alert-danger]="
                form.controls.halfRoom.invalid && form.controls.halfRoom.touched
              "
            />
            <div class="input-group-append">
              <div class="input-group-text">fél szoba</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group col-lg-7">
        <label for="buildDate" class="font-weight-bold">Építés éve</label>
        <input
          type="number"
          id="buildDate"
          [formControl]="form.controls.buildDate"
          class="form-control"
          [class.alert]="
            form.controls.buildDate.invalid && form.controls.buildDate.touched
          "
          [class.alert-danger]="
            form.controls.buildDate.invalid && form.controls.buildDate.touched
          "
        />
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group col-lg-7">
        <label for="price" class="font-weight-bold">Eladási ár</label>

        <div class="input-group">
          <input
            type="number"
            id="price"
            [formControl]="form.controls.price"
            class="form-control"
            [class.alert]="
              form.controls.price.invalid && form.controls.price.touched
            "
            [class.alert-danger]="
              form.controls.price.invalid && form.controls.price.touched
            "
          />
          <div class="input-group-append">
            <div class="input-group-text">M Ft</div>
          </div>
        </div>
      </div>

      <div class="form-group col-12">
        <label for="description" class="font-weight-bold">Leírás</label>
        <textarea
          id="description"
          [formControl]="form.controls.description"
          class="form-control"
        ></textarea>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Mentés</button>
</form>
