/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

ngb-typeahead-window {
  max-height: 50vh;
  overflow-y: auto;
}

div#ngb-live {
  display: none;
}
